.main {
  padding: var(--1600) 16.5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.section {
  flex-grow: 1;
  margin: 0 auto;
  opacity: 77%;
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
}

.innerContainer {
  display: flex;
  gap: 290px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--300);
}

.parg1 {
  text-transform: uppercase;
  font-family: "Barlow Condensed Regular";
  letter-spacing: var(--50);
  font-size: var(--text-preset-6-desktop);
  color: var(--blue-300);
}

.parg2 {
  text-transform: uppercase;
  font-family: "Bellefair Regular";
  font-size: var(--text-preset-1-desktop);
  color: var(--white);
}

.parg3 {
  font-family: "Barlow Regular";
  font-size: var(--text-preset-9-desktop);
  line-height: 180%;
  color: var(--blue-300);
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.button {
  background-color: var(--white);
  border-radius: 999px;
  width: 27.2rem;
  height: 27.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bellefair Regular";
  color: var(--blue-900);
  font-size: var(--text-preset-4-desktop);
  text-transform: uppercase;
  outline: 0px solid transparent;
  transition: outline 0.5s ease-in-out;
}

.button:hover {
  outline: 70px solid rgba(255, 255, 255, 0.3);
}

@media (max-width: 768px) {
  .main {
    padding: var(--1600) var(--500);
  }
  .section {
    width: auto;
    margin: 0;
    opacity: 100%;
    text-align: center;
    align-items: stretch;
  }
  .innerContainer {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    gap: 25px;
  }
  .content {
    width: 51.2rem;
  }
  .parg3 {
    font-size: var(--text-preset-9-tablet);
  }
  .buttonContainer {
    width: 51.2rem;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 375px) {
  .main {
    padding: var(--300);
  }
  .innerContainer {
    justify-content: space-between;
  }
  .content {
    width: auto;
  }
  .parg1 {
    font-size: var(--text-preset-6-mobile);
    letter-spacing: 15%;
  }
  .parg2 {
    font-size: var(--text-preset-1-mobile);
  }
  .parg3 {
    font-size: var(--text-preset-9-mobile);
  }
  .buttonContainer {
    height: 38.2rem;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button {
    width: 14.4rem;
    height: 14.4rem;
    font-size: var(--text-preset-4-mobile);
  }
}
