.navMainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.navIconBox {
  margin: var(--800) 0 var(--300) 0;
  display: flex;
  position: relative;
}

.navIcon {
  width: 4.8rem;
  height: 4.8rem;
  margin: 0 var(--800);
}

.navIconImg {
  width: 100%;
  height: 100%;
}

.navIconLine {
  background-color: var(--white);
  opacity: 25%;
  height: 0.1rem;
  flex-grow: 1;
  align-self: center;
  margin-right: -3.6rem;
}

.navComponent {
  align-self: flex-end;
}

@media (max-width: 832px) {
  .navIconLine {
    margin-right: 0;
  }
}

@media (max-width: 869px) {
  .navIconLine {
    display: none;
  }
  .navIconBox {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .navIcon {
    margin: 0 var(--500);
  }
}

.mobileNavBox {
  display: none;
}

@media (max-width: 375px) {
  .navMainContainer {
    margin: var(--300) 0;
  }
  .navComponent {
    display: none;
  }
  .navIconBox {
    margin: 0;
    justify-content: flex-start;
  }
  .navIcon {
    margin: 0px 0px 0px var(--300);

    width: 4rem;
    height: 4rem;
  }
  .mobileNavBox {
    position: relative;
    overflow: hidden;
    display: block;
    align-self: center;
    justify-self: flex-end;
  }
  .imgMargin {
    margin-right: var(--300);
  }
}
