.navBox {
  background-color: rgba(255, 255, 255, 0.05);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-self: flex-end;
  padding: 0 var(--800) 0 var(--800);
}

.navItems {
  display: flex;
  gap: var(--600);
  max-width: 100%;
  justify-content: flex-end;
}

.navItem {
  height: 9.6rem;
  display: flex;
  align-items: center;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.8s ease-out;
}

.navItem:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.05);
  transition: border-bottom 0s;
}

.navLink {
  text-decoration: none;
  color: var(--white);
  display: flex;
  gap: var(--150);
  text-transform: uppercase;
  font-size: var(--text-preset-8-desktop);
}

.navTextBold {
  font-family: var(--barlow-condensed-bold);
  letter-spacing: 0.27rem;
}

.navTextRegular {
  font-family: var(--barlow-condensed-regular);
  letter-spacing: 0.2rem;
}

@keyframes slideIn {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}

@keyframes slideOut {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}

@media (max-width: 375px) {
  html,
  body {
    overflow: hidden;
    height: 100%;
  }
  .navBox {
    position: fixed;
    top: 0;
    right: 0px;
    height: 100%;
    width: 70%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 13.3rem 0 0 3.2rem;
    animation: slideIn 0.4s ease-in forwards;
  }
  .notActiveAnimation {
    animation: slideOut 0.6s ease-out forwards;
  }
  .navItems {
    flex-direction: column;
    gap: 3.2rem;
    width: 100%;
  }
  .navItem {
    display: block;
    height: auto;
    width: 100%;
    border-bottom: none;
    border-right: 3px solid transparent;
    transition: border-right 0.8s ease-out;
  }
  .navItem:hover {
    border-bottom: none;
    border-right: 3px solid rgba(255, 255, 255, 0.05);
    transition: border-bottom 0s;
  }
}
