.main {
  padding: var(--600) 0;
  flex-grow: 1;
  /* border: 3px solid red; */
  display: flex;
  flex-direction: column;
}

.section {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: var(--300);
  /* border: 3px solid blue; */
  flex-grow: 1;
  width: 1275px;
}

.pageTitle {
  display: flex;
  gap: var(--300);
  color: var(--white);
  font-size: var(--text-preset-6-desktop);
  text-transform: uppercase;
  /* border: 3px solid green; */
}

.pageTitleNumber {
  opacity: 25%;
  letter-spacing: 0.472rem;
  font-family: "Barlow Condensed Bold";
}

.pageTitleText {
  font-family: "Barlow Condensed Regular";
  letter-spacing: var(--50);
}

@media (max-width: 768px) {
  .main {
    padding: var(--500);
  }
  .section {
    align-self: auto;
    width: auto;
  }
  .pageTitle {
    font-size: var(--text-preset-5-tablet);
    letter-spacing: 15%;
  }
  .content {
    flex-direction: column;
  }
}

@media (max-width: 375px) {
  .main {
    padding: var(--300);
  }
  .pageTitle {
    font-size: var(--text-preset-6-mobile);
    justify-content: center;
  }
}
