.mainTechnology {
  background-image: url("/images/technology/background-technology-desktop.jpg");
  background-size: 100% 100%;
}

@media (max-width: 768px) {
  .mainTechnology {
    background-image: url("/images/technology/background-technology-tablet.jpg");
  }
}

@media (max-width: 375px) {
  .mainTechnology {
    background-image: url("/images/technology/background-technology-mobile.jpg");
  }
}
